/*
Some menu styles for code-editor are in menu.css.
*/

#code-editor {
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0 0 10px #000;
	flex-direction: column;
	overflow: hidden;
}

#code-editor .code-editor-title {
	padding-left: 3px;
}

#code-editor.restored  {
	width: 50%;
	left: 50%;
}

#code-editor h2 {
	margin: 0;
}

#code-editor #editor-code {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#code-editor .autorun-on {
	background-color: #dfd;
}

#code-editor #editor-autorun span {
	display: none;
}

#code-editor #editor-autorun.autorun-on span {
	display: inline-block;
}