.color-selector-dialog input[type="color"] {
	display: block;
	width: 100%;
	height: 120px;
}

.color-selector-dialog #color-selector-dialog-transparent-overlay {
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center center;
}

.color-selector-dialog .transparent #color-selector-dialog-transparent-overlay {
	background-image: url('../../images/icons/ban.svg');
}

.color-selector-dialog .transparent.dark #color-selector-dialog-transparent-overlay {
	background-image: url('../../images/icons/ban-white.svg');
}

#color-selector-alpha-container {
	padding-top: 3px;
}

.color-selector-dialog .opacity-display {
	width: 60px;
	height: 20px;
	text-align: center;
	border: 1px solid #000;
}

.color-selector-dialog .opacity-display.dark {
	color: #fff;
}

.color-selector-dialog .range-display {
	display: flex;
	width: 100%;
}

#color-selector-dialog-transparent-label {
	margin-top: 5px;
}

#color-selector-dialog-transparent {
	margin-left: 0;
}

#color-selector-dialog-transparent-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	pointer-events: none;
}

#color-selector-dialog-color-input {
	position: relative;
}