#command-box-messages {
	padding-left: 5px;
	padding-right: 3px;
	overflow: auto;
}

#command-box-messages .special {
	font-style: italic;
	font-size: 0.9em;
}

#command-box-messages .error,
#command-box-messages .tip,
#command-box-messages .warning {
	font-weight: bold;
}

#command-box-messages div {
	border-left: 2px solid #fff;
}

#toast-message-container > div,
#command-box-messages > div {
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 1px;
}

#command-box-messages .code.cursored {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: blinking-cursor;
}

#toast-message-container .icon,
#command-box-messages .icon {
	min-width: 25px;
}

#menu-bar .menu-item-logo,
.code-snippet-icon {
	position: relative;
	height: 1em;
	bottom: -2px; /* Move the icon down relative to the text message so it looks better lined up. */
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url('../../images/logo-32px.png');

	/*
	If the browser supports multiple background images, it should support SVG background images too.
	This trick is explained at:
	https://css-tricks.com/a-complete-guide-to-svg-fallbacks/
	*/
	background-image: url('../../images/logo.svg'),
    linear-gradient(transparent, transparent);
}

/* The animation code */
@keyframes blinking-cursor {
  from {border-color: #000;}
  to {border-color: #fff;}
}