body.commander-hidden #command-box .commander-container {
	display: none;
}

#command-box-and-buttons {
	width: 100%;
	display: flex;
	flex-grow: 1;
	overflow: auto;
}

#command-box .commander-container {
	height: 200px;
	display: flex;
	padding-right: 3px;
	flex-direction: column;
}

#command-box .commander-title-bar {
	display: flex;
	width: 100%;
}

#command-box .commander-title-bar h2 {
	flex-grow: 1;
}

#command-box .commander-title-bar #commander-clear-text {
	cursor: pointer;
}

#command-box #commander-buttons {
	padding-top: 3px;
}

#command-box #command-box-messages {
	flex-grow: 1;
}

#command-box h2 {
	margin: 0;
	padding-left: 3px;
	cursor: ns-resize;
}

#command-box .syntax-highlighter pre.syntax-highlighter,
#command-box .syntax-highlighter input {
	font-size: 26px;
}

#command-box input {
	display: block;
	width: 100%;
	font-family: monochrome;
	flex-grow: 1;
	box-sizing: border-box;
	z-index: 1;
	color: rgba(0, 0, 0, 0.3);
}

#command-box [data-helpid] {
	border-bottom: 1px solid #000;
}

.command-inputs {
	display: flex;
	margin-bottom: 2px;
}

.command-inputs div.syntax-highlighter {
	position: relative;
	flex-grow: 1;
	display: flex;
}

.command-inputs pre.syntax-highlighter {
	padding-left: 4px;
	padding-top: 3px;
}

.command-inputs pre.syntax-highlighter,
.command-inputs pre.syntax-highlighter span {
	line-height: normal;
	font-stretch: 100%;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	letter-spacing: normal;
}
