body.commander-hidden #command-box .commander-container {
	display: none;
}

#command-box-and-buttons {
	width: 100%;
	display: flex;
	flex-grow: 1;
	overflow: auto;
}

#command-box .commander-container {
	height: 200px;
	display: flex;
	padding-right: 3px;
	flex-direction: column;
}

#command-box .commander-title-bar {
	display: flex;
	width: 100%;
}

#command-box .commander-title-bar h2 {
	flex-grow: 1;
}

#command-box .commander-title-bar #commander-clear-text {
	cursor: pointer;
}

#command-box #commander-buttons {
	padding-top: 3px;
}

#command-box #command-box-messages {
	flex-grow: 1;
}

#command-box h2 {
	margin: 0;
	padding-left: 3px;
	cursor: ns-resize;
}

#command-box input {
	display: block;
	width: 100%;
	flex-grow: 1;
	font-size: 1.5em;
	box-sizing: border-box;
}

#command-box [data-helpid] {
	border-bottom: 1px solid #000;
}

.command-inputs {
	display: flex;
	margin-bottom: 2px;
}
