.option-list > a {
	background-color: #fff;
	display: none;
	border-bottom: 1px solid #fff;
}

.option-list > a.selected {
	background-color: #ddf;
	border-bottom-color: #ddf;
	display: block;
}

.option-list > a:hover,
.option-list > a:focus {
	border-color: #ccc;
}

*:hover > .option-list > a,
*:focus > .option-list > a {
	display: block;
}