.svg-drawing-viewer {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.svg-drawing-viewer > div {
	flex-grow: 1;
}

.svg-drawing-viewer .aspect-ratio-matting {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	border-style: solid;
	border-color: rgba(200, 200, 200, 0.8);
}