html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100vh;
	background-color: #000;
	cursor: pointer;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a, button {
	cursor: pointer;
}

a {
	color: #eee;
}

button {
	cursor: pointer;
	color: #fff;
	font-size: 1.2em;
	background-color: #000;
	border: 1px solid #888;
}

#dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-top: -150px;
	padding: 5px;
	font-family: arial;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 5px #000;
}

#dialog p {
	margin-top: 3px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#dialog h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	text-align: center;
}

#dialog h3 {
	margin-top: 6px;
	margin-bottom: 0;
}

#dialog ul {
	margin-top: 8px;
	margin-bottom: 0;
}

#dialog li {
	margin-top: 4px;
}

#dialog footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
}

#dialog.closed {
	display: none;
}

#settings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#settings input[type="range"] {
	width: 100%;
}

#settings label, #settings legend {
	color: #fff;
}

#settings .toggled-content {
	display: none;
}

#settings.expanded .toggled-content {
	display: block;
}

#settings #toggle-settings {
	float: right;
}

#settings .labelled-range {
	display: flex;
}

#settings .labelled-range label {
	flex-grow: 0;
}

#settings .max-iterations label {
	width: 130px;
}

#settings .labelled-range input {
	flex-grow: 1;
}