.correctness-tests h3 {
	margin-top: 0;
	margin-bottom: 4px;
}

.correctness-tests {
	margin-bottom: 10px;
}

.benchmark-results {
	display: flex;
}

.benchmark-results > div {
	width: 50%;
}

.benchmark-results h2 {
	margin-bottom: 5px;
	margin-top: 0;
}

.benchmark-results > div > div > div > label {
	font-weight: bold;
	display: inline-block;
	min-width: 230px;
}
