html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: arial;
}

body > div {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

button {
	cursor: pointer;
}

canvas, #display {
	width: 100%;
	background-color: #000;
}

#display {
	flex-grow: 1;
	display: flex;
}

#display-settings span {
	color: #fff;
}

header {
	display: flex;
	font-family: arial;
	flex-grow: 0;
}

header label {
	padding-left: 5px;
	padding-right: 5px;
}

header .stretched {
	flex-grow: 1;
	display: flex;
}

header .stretched input {
	flex-grow: 1;
}

header button {
	cursor: pointer;
	margin: 3px;
}

#stats {
	display: none;
}

.stats #stats {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.stats #stats canvas {
	flex-grow: 1;
}


.stats > canvas {
	display: none;
	flex-grow: 1;
}

#stats .upper-row {
	flex-grow: 0;
}

#statistics {
	color: #fff;
}

#statistics label {
	display: inline-block;
	min-width: 120px;
	border-bottom: 1px solid #222;
}