html, body {
	padding: 0;
	margin: 0;
	font-family: arial;
	overflow: hidden;
}

body > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

body > div > header, body > div > footer {
	flex-grow: 0;
}

body > div > main {
	flex-grow: 1;
}

button {
	cursor: pointer;
}

header {
	display: flex;
	margin-bottom: 10px;
	border-bottom: 5px solid #ddd;
}

header h1 {
	flex-grow: 1;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
}

header #username {
	flex-grow: 0;
	padding-right: 5px;
	padding-top: 8px;
}

.header {
	display: flex;
	width: 100%;
}

.header h2 {
	flex-grow: 1;
}

.header span {
	flex-grow: 0;
}

main {
	display: flex;
	flex-direction: column;
}

body > div > footer {
	text-align: right;
	padding: 3px 5px 3px 0;
	border-top: 5px solid #ddd;
}

#username-temporary-message  {
	color: #800;
}

label, button, #username, #temporary-message, #username-temporary-message {
	font-weight: bold;
}

#temporary-message, #username-temporary-message {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}

#temporary-message.hidden, #username-temporary-message.hidden {
	opacity: 0;
}

#username-prompt, #select-chat-partner {
	max-width: 320px;
	margin: auto;
}

#select-chat-partner-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#select-chat-partner-list li {
	background-color: #f8f8f8;
	font-weight: bold;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
	cursor: pointer;
}

#select-chat-partner-list li:hover {
	background-color: #fff;
	border-color: #ddd;
}

#chat footer, #chat .header {
	flex-grow: 0;
}

#chat h2 {
	margin-bottom: 5px;
}

#chat > #chat-conversation {
	flex-grow: 1;
}

#chat footer {
	display: flex;
}

#chat footer #chat-text {
	flex-grow: 1;
	margin-right: 3px;
	max-height: 100px;
}

#chat footer button {
	flex-grow: 0;
}

#chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#chat-close {
	cursor: pointer;
}

#chat-conversation {
	min-height: 100px;
	border-top: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	margin-bottom: 2px;
}

#chat-conversation-messages > div {
	display: flex;
	padding-bottom: 2px;
	border-bottom: 1px solid #eee;
}

#chat-conversation-messages > div:hover {
	border-bottom-color: #ddd;
}

#chat-conversation-messages > div:last-of-type {
	border-bottom-width: 0;
}

#chat-conversation-messages > div > .username {
	width: 100px;
	flex-grow: 0;
	font-weight: bold;
	color: #006;
}

#chat-conversation-messages > div > .username.me {
	color: #060;
}

#chat-conversation-messages > div > .message {
	flex-grow: 1;
}

#chat-invitation-messages {
	position: fixed;
	top: 50%;
	right: 4px;
	width: 300px;
	background-color: #fff;
	padding: 3px;
	z-index: 2;
	border-radius: 3px;
	box-shadow: 0 0 25px #000;
}

#chat-invitation-messages > div button.accept {
	color: #070;
}

#chat-invitation-messages > div button.reject {
	color: #700;
}

#chat-invitation-messages > div {
	display: flex;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 3px;
}

#chat-invitation-messages > div > strong {
	padding-right: 5px;
}

#chat-invitation-messages > div > span {
	flex-grow: 1;
}

#chat-invitation-backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	left: 0;
	background-color: #000;
	opacity: 0.3;
	z-index: 1;
}

.closed, #chat.closed {
	display: none;
}

.bordered {
	padding: 15px;
	border: 4px solid #ddd;
	border-radius: 10px;
}