#test-results > div {
	display: flex;
	border: 1px solid #eee;
}

#test-results > div .msg {
	flex-grow: 1;
}

#test-results .unit-name {
	width: 150px;
	flex-grow: 0;
}

.passed, .failed {
	font-weight: bold;
}

.failed {
	color: #800;
}

.passed {
	color: #080;
}