@media only screen and (max-width: 550px) and (min-height: 550px) {
	body .row {
		display: block;
	}

	body .row div {
		width: 100%;
	}

	body .table {
		margin-top: 3vmin;
	}
}

@media only screen and (min-width: 550px) and (max-width: 1000px) {
	body .table {
		font-size: 3vmin;
	}
}

.state-controls .controls-screen {
	display: block;
}

.controls-screen button {
	background-color: #444;
	padding: 2vmin;
	margin-bottom: 5vmin;
}

.row {
	display: flex;
	padding-bottom: 2vmin;
	border-bottom: 1px solid #444;
	transition: background-color 1s;
}

.row:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

.row div:first-of-type {
	font-weight: bold;
}

.row div {
	width: 33%;
	padding-right: 4vmin;
	text-align: left;
}

.table {
	font-family: arial;
	font-size: 5vmin;
	margin: 5vmin;
}

.touch-only {
	display: none;
}

.controls-screen.touch-only-selected .touch-only {
	display: inline-block;
}

.controls-screen.touch-only-selected .not-touch-only {
	display: none;
}
