@media only screen and (min-width: 1400px) {
	body .game-over-screen {
		background-size: 80vmin;
	}

	.game-over-screen .game-over-text {
		font-size: 10vmin;
	}

	body .game-over-screen button {
		font-size: 10vmin;
		padding: 2vmin;
	}
}

.game-over-text {
	color: #f00;
	font-family: impact;
	font-size: 20vmin;
}

.game-over-screen {
	background-image: url('../assets/earth-sterilized.jpg');
	background-size: 70vmin;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.state-game_over .game-over-screen {
	display: block;
}

.game-over-screen button {
	background-color: #222;
	padding: 5vmin;
	transition: background-color 1s;
}

.game-over-screen button:hover {
	background-color: #04a;
}