@media only screen and (min-width: 1400px) {
	body .game-over-screen {
		background-size: 80vmin;
	}

	.game-over-screen .game-over-text {
		font-size: 10vmin;
	}

	body .game-over-screen button {
		font-size: 10vmin;
		padding: 2vmin;
	}
}

.game-over-overlay {
	display: inline-block;
	padding: 0 5vmin;
}

.game-over-text {
	color: #f00;
	font-family: impact;
	font-size: 20vmin;
}

.game-over-screen.win .game-over-text {
	color: #008;
}

.game-over-screen {
	background-image: url('../assets/earth-sterilized.jpg');
	background-size: 70vmin;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.game-over-screen.win {
	background-image: url('../assets/tropical-paradise.jpg');
	background-size: cover;
}

.game-over-screen .hide-on-lose, .game-over-screen .hide-on-win {
	font-family: arial;
	font-size: 5vmin;
}

.game-over-screen .hide-on-lose {
	display: none;
}

.game-over-screen.win .hide-on-win {
	display: none;
}

.game-over-screen.win .hide-on-lose {
	display: block;
	color: #000;
}

.game-over-screen.win .game-over-overlay {
	background-color: rgba(255, 255, 255, 0.5);
}

.state-game_over .game-over-screen {
	display: block;
}

.game-over-screen button {
	background-color: #222;
	padding: 5vmin;
	transition: background-color 1s;
}

.game-over-screen.win button {
	background-color: #fff;
	color: #000;
}

.game-over-screen button:hover {
	background-color: #04a;
}

.game-over-screen.win button:hover {
	background-color: #8df;
}