@media only screen and (max-width: 550px) and (min-height: 550px) {
	/*
	Make a layout for small width and taller height.
	*/
	.state-init .init-screen .story {
		width: 100%;
		right: auto;
		bottom: 0;
	}

	body.state-init .init-screen {
		background-size: 40vmin;
		background-position: center 30%;
	}
}

.state-init {
	height: 100vh;
	background-image: url('../assets/swirls.svg');
	background-size: 200%;
	background-position: center center;
}

.state-init .init-screen {
	display: block;
	background-image: url('../assets/drama-mask-transparent.svg');
	background-size: 50vmin;
	background-position: center 70%;
	background-repeat: no-repeat;
}

.init-screen button {
	outline-color: red;
	outline-style: solid;
	outline-width: 1px;
	font-family: impact;
	background-color: #840;
	border-width: 1px;
	border-color: #000;
	border-radius: 100%;
	transition: background-color 0.5s, padding 0.5s;
}

.init-screen button:hover {
	background-color: #000;
	padding: 2vmin;
}

.init-screen .circle {
	border-radius: 100%;
	height: 3vmin;
	width: 3vmin;
	background-color: #fff;
	border-style: solid;
	border-color: black;
	position: absolute;
}

.init-screen * {
	user-select: none;
}

.init-screen #click-message {
	opacity: 0;
	font-size: 5vmin;
	color: white;
	position: absolute;
	bottom: 0;
	padding-bottom: 1vmin;
	text-align: center;
	width: 100%;
	font-family: arial;
	background-color: #000;
	transition: opacity 2s;
	z-index: 2;
}

.init-screen .show#click-message {
	opacity: 1;
}

.story {
	position: absolute;
	right: 0;
	width: 30%;
	padding: 2vmin;
	font-size: 5vmin;
	background-color: rgba(0, 0, 0, 0.5);
	border-top-left-radius: 3vmin;
	border-bottom-left-radius: 3vmin;
}

.story :first-child {
	margin-top: 0;
	padding-top: 0;
}