@import "./controls-screen.css";
@import "./game-over.css";
@import "./game-playing-screen.css";
@import "./init-screen.css";

html, body {
	margin: 0;
	background-color: black;
	text-align: center;
	color: white;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

canvas {
	display: none;
	width: 100%;
	height: 100%;
	background-color: black;
}

.init-screen, .game-over-screen, .controls-screen {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

.init-screen button, .game-over-screen button, .controls-screen button {
	font-size: 10vmin;
	color: #fff;
	cursor: pointer;
	border-style: solid;
}

.hiding {
	opacity: 0;
	transition: opacity 3s;
}