[submodule "turtle/lib/jsgif/jsgif"]
	path = turtle/lib/jsgif/jsgif
	url = https://github.com/antimatter15/jsgif.git
[submodule "turtle/lib/textarea-caret-position/textarea-caret-position"]
	path = turtle/lib/textarea-caret-position/textarea-caret-position
	url = git@github.com:component/textarea-caret-position.git
