[submodule "turtle/lib/jsgif/jsgif"]
	path = turtle/lib/jsgif/jsgif
	url = https://github.com/antimatter15/jsgif.git
[submodule "turtle/lib/shachaf-jsgif"]
	path = turtle/lib/shachaf-jsgif
	url = https://github.com/shachaf/jsgif.git
