[submodule "turtle/lib/jsgif/jsgif"]
	path = turtle/lib/jsgif/jsgif
	url = https://github.com/antimatter15/jsgif.git
[submodule "turtle/lib/libgif-js"]
	path = turtle/lib/libgif-js
	url = git@github.com:joshi1983/libgif-js.git
