label {
	font-weight: bold;
}

.name-value-pair,
.test-result {
	display: flex;
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
}

.name-value-pair > label,
.test-result > label {
	min-width: 200px;
}

.name-value-pair > .value {
	flex-grow: 1;
}


.passed {
	background-color: #dfd;
	color: #050;
}

.failed {
	background-color: #fdd;
	color: #500;
}