html, body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
}

canvas {
	width: 100%;
	flex-grow: 1;
	cursor: pointer;
	background-color: #000;
}

.current-colour {
	padding: 5px;
	margin: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.reset {
	text-align: center;
}

#reset-points {
    cursor: pointer;
}

#dialog-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.5;
	background-color: #000;
}

#dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
	display: flex;
	flex-direction: column;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 70px #000;
}

#dialog .body {
	flex-grow: 1;
}

#dialog h2 {
    text-align: center;
    padding-top: 5px;
}

#dialog p {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
}

#dialog ul {
	margin-left: 0;
	padding-left: 25px;
	padding-right: 5px;
    margin-top: 0;
    padding-top: 0;
}

#dialog footer {
	flex-grow: 0;
	padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

#dialog button {
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

.hidden {
    display: none;
}

h1 {
	font-size: 24px;
	margin: 0;
	text-align: center;
}

p {
	margin: 3px;
	text-align: center;
}

h2 {
	font-size: 18px;
	margin: 0;
}

.glare-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.input-controls {
	flex-grow: 0;
	flex-shrink: 0;
}

.brightness-sensitivity {
	margin-top: 5px;
}

.current-colour > div, .brightness-sensitivity {
	display: flex;
	width: 100%;
}

.current-colour > div label {
	min-width: 60px;
	flex-grow: 0;
	flex-shrink: 0;
}

.brightness-sensitivity label {
	padding-right: 5px;
	padding-left: 5px;
}

.brightness-sensitivity input {
	margin-right: 10px;
}

.current-colour > div input, .brightness-sensitivity input {
	flex-grow: 1;
}

label {
	font-weight: bold;
}

a {
	color: #000;
}