.animation-time {
	padding-top: 10px;
}

.animation-time #set-animation-time-seconds-input {
	display: block;
	width: 98%; /* not 100% to prevent the range circle from getting cut off at max value */
	margin: auto;
}

.animation-time .calculated-time {
	padding-top: 5px;
	text-align: center;
	font-size: 1.4em;
}

.animation-time .calculated-time .labels {
	font-size: 14px;
}

label[for="set-animation-time-live-redraw"] {
	font-size: 14px;
	cursor: pointer;
}

label[for="set-animation-time-live-redraw"], #set-animation-time-live-redraw {
	vertical-align: middle;
}

#set-animation-time-seconds-number-input {
	display: none;
}