.hidden {
	display: none;
}

.scrollable-content {
	display: block;
	height: 100%;
	overflow: auto;
}

.content-container {
	min-height: 99%;
	width: 100%;
	display: flex;
	position: relative;
}

textarea, #code-input-line-numbers > div {
	font-family: monospace;
	font-size: 13px;
	line-height: 16px;
}

textarea {
	width: 100%;
	width: calc(100% - 58px);
	height: 100%;
	resize: none;
	margin: 0;
	position: absolute;
	overflow: hidden;
	white-space: pre;
	border-width: 0;
	padding-top: 0;
}

#code-input-container {
	height: 30vh;
	width: 100%;
	overflow: scroll;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#code-input-line-numbers {
	width: 50px;
	text-align: right;
	min-height: 100%;
}

#code-input-line-numbers > div {
	padding-right: 4px;
}

#code-input-line-numbers > div.error {
	background-color: red;
}

.line-number {
	font-weight: bold;
	padding-right: 10px;
}
