.file-load-example-search-bar {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
}

.file-load-example-search-bar > div {
	padding-left: 3px;
}

.file-load-example-search-bar #file-load-example-search-query {
	flex-grow: 1;
}

#file-load-example-search-results {
	overflow-y: auto;
}

#file-load-example-search-results > div {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

#file-load-example-search-results > div:hover {
	border-color: #000;
}

#file-load-example-search-results > div > .top-row {
	display: flex;
	width: 100%;
	padding: 3px 0;
	cursor: pointer;
}

#file-load-example-search-results .top-row div.name {
	font-weight: bold;
	padding-top: 3px;
	padding-left: 2px;
	overflow-x: hidden;
	white-space: nowrap;
	max-width: 50%;
	text-overflow: ellipsis;
}

#file-load-example-search-results .top-row div.keywords {
	text-align: right;
	padding-right: 2px;
	flex-grow: 1;
}

#file-load-example-search-results .top-row div.keywords span {
	display: inline-block;
	font-size: 0.9em;
	margin-left: 3px;
	padding: 2px 2px;
	border: 1px solid #bbf;
	border-radius: 4px;
}

#file-load-example-search-results .top-row div.keywords.compact span {
	font-size: 0.7em;
	margin-left: 2px;
	border-radius: 3px;
}

#file-load-example-search-results > div:nth-child(even) div.keywords span {
	border-color: #33a;
}

.script-example-thumbnail {
	position: relative;
	height: 40px;
}

.dialog.maximized .script-example-thumbnail {
	height: 60px;
}

.script-example-thumbnail canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}