html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100vh;
	background-color: #000;
}

header {
	display: flex;
	font-family: arial;
}

header label {
	padding-left: 5px;
	padding-right: 5px;
}

header .stretched {
	flex-grow: 1;
	display: flex;
}

header .stretched > div {
	display: flex;
	flex-grow: 1;
}

header .stretched > div input {
	flex-grow: 1;
}

header button {
	cursor: pointer;
	margin: 3px;
}