html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body > div {
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

div > canvas {
	width: 100%;
	max-height: 95vh;
	flex-grow: 1;
	cursor: pointer;
	
	/* Prevent selection issues if someone is using touch and dragging */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

div > footer {
	border-top: 1px solid #ddd;
	flex-grow: 0;
	display: flex;
}

div > footer button, footer input {
	cursor: pointer;
}

div > footer .modes button {
	border-width: 2px;
	border-style: solid;
	border-color: #ccc;
	font-weight: bold;
	color: #888;
}

div > footer .modes button.active {
	border-color: #000;
	color: #000;
}