html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: arial;
}

canvas {
	width: 100%;
	height: 100vh;
	background-color: #000;
	color: #fff;
}

#settings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid #333;
}

#settings footer {
	text-align: right;
}

#settings footer button {
	cursor: pointer;
}

#settings section {
	color: #fff;
	display: none;
}

#settings.expanded section {
	display: block;
}

#settings input[type="range"] {
	width: 99%;
}

#settings fieldset input[type="range"] {
	width: 30%;
}

#settings section > div.labelled-range {
	display: flex;
	width: 100%;
}

#settings section > div.labelled-range > label {
	width: 150px;
	flex-grow: 0;
}

#settings section > div.labelled-range > input {
	flex-grow: 1;
}


#dialog {
	position: fixed;
	padding: 5px;
	top: 50%;
	left: 50%;
	width: 460px;
	height: 460px;
	margin-top: -230px;
	margin-left: -230px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid #444;
	border-radius: 6px;
	z-index: 2;
	box-shadow: 0 0 100px #000;
}

#dialog h1 {
	margin-top: 3px;
	margin-bottom: 5px;
	font-size: 25px;
}

#dialog ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#dialog ul li {
	margin-bottom: 4px;
}

#dialog .scrollable {
	height: 300px;
	overflow-y: auto;
}

#dialog footer {
	margin-top: 5px;
	padding-top: 5px;
	text-align: center;
}