.object-explorer .array {
	display: inline;
}

.object-explorer .array.expanded {
	display: block;
}

.object-explorer .array > div,
.object-explorer .array.expanded > span {
	display: none;
}

.object-explorer .array.expanded > div {
	display: flex;
}

.details.expanded > .object,
.expanded.object,
.expanded.array {
	display: block;
}

.object-explorer .object {
	border-left: 1px solid #888;
	margin-left: 5px;
}

.object-explorer .light-text {
	color: #fff;
}

.details .named-value {
	display: flex;
}

.details .named-value > label,
.object-explorer .array > div > label {
	padding-right: 5px;
	font-weight: bold;
}

.named-value > label.name.clickable,
.array > div > label,
.angle-display {
	cursor: pointer;
}

.array > div {
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}

.object > .expand-button,
.array > .expand-button {
	font-size: 12px;
	padding-left: 5px;
	cursor: pointer;
}

.object.expanded > .expand-button {
	display: none;
}

.object.expanded > .named-value {
	display: block;
}

.object > .named-value {
	display: none;
}

.object {
	display: inline;
}

.object.expanded {
	display: block;
}

.simple-display, .angle-display {
	display: inline;
}

.object-explorer .notch2 {
    height: 9px;
	width: 7px;
	margin-right: 2px;
	float: left;
	display: inline-block;
    border-bottom: 1px solid #888;
}

.named-value .sample-colour-hex {
	display: inline;
}