#shape-explorer {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#shape-explorer .column-headings {
	display: flex;
}

#shape-explorer #shape-explorer-slider {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	margin-bottom: 0;
}

#shape-explorer #shape-explorer-slider.hidden {
	display: none;
}

#shape-explorer header {
	padding-right: 2px; /* so the slider circle doesn't get cropped off on the right side */
}

#shape-explorer header.no-shapes {
	text-align: center;
	padding-top: 140px;
}

#shape-explorer header.no-shapes .column-headings {
	display: none;
}

#shape-explorer #shapes-container {
	flex-grow: 1;
	overflow-y: auto;
}

#shape-explorer .shape {
	display: flex;
	width: 100%;
	border-bottom: 1px solid transparent;
}

#shape-explorer .shape:hover {
	border-bottom-color: #ddd;
}

#shape-explorer .shape .index,
#shape-explorer .column-headings .index {
	min-width: 30px;
}

#shape-explorer.large-index .shape .index,
#shape-explorer.large-index .column-headings .index {
	min-width: 42px;
}

#shape-explorer .shape .index {
	text-align: right;
}

#shape-explorer .shape .index.compact {
	font-size: 14px;
}

#shape-explorer .shape .type-name,
#shape-explorer .column-headings .type-name {
	min-width: 105px;
}

#shape-explorer .shape .type-name {
	padding-left: 5px;
}

#shape-explorer .shape .index,
#shape-explorer .shape .type-name {
	font-weight: bold;
}

#shape-explorer .column-headings .vector,
#shape-explorer .shape > .vector {
	min-width: 120px;
}

#shape-explorer .shape .details {
	flex-grow: 1;
}

#shape-explorer #shape-explorer-range-description {
	font-size: 0.9em;
}

#shape-explorer .details {
	overflow: hidden;
}

.shape .vector {
	cursor: pointer;
}

.vector .named-number .name {
	display: none;
}

.vector .named-number .number {
	padding-right: 8px;
}

.vector .named-number .number,
.vector .named-number {
	display: inline;
}

.vector.expanded .named-number .name {
	display: inline;
	padding-right: 5px;
	font-weight: bold;
}

.vector.expanded .named-number {
	display: block;
	font-size: 16px;
	overflow: hidden;
}

