html, body {
	padding: 0;
	margin: 0;
}

canvas {
	width: 100%;
	background-color: #000;
	flex-grow: 1;
}

button:not([disabled]) {
	cursor: pointer;
}

.real-world-values {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	padding: 5px;
	border: 1px solid #888;
	font-size: 1.3em;
	background-color: rgba(0, 0, 0, 0.5);
}

.real-world-values output {
	font-size: 1.5em;
	font-weight: bold;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container header {
	flex-grow: 0;
}

.container > div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}