#debugger {
	position: fixed;
	top: 0;
	right: 0;
}

#debugger.maximized {
	width: 100%;
	bottom: 0;
	left: 0;
	right: auto;
	box-sizing: border-box;
	z-index: 3;
}

#debugger h2 {
	margin-top: 5px;
	margin-bottom: 3px;
}

#debugger h2 > span {
	padding-right: 4px;
}

#debugger .name {
	font-weight: bold;
	margin: 0;
}

#debugger .name .fa {
	padding-right: 3px;
}

#debugger .variables > div:nth-child(odd) {
	background-color: #ddf;
}

#debugger .variable {
	display: flex;
	width: 100%;
}

#debugger .variable div.value {
	flex-grow: 1;
	text-align: right;
}

#debugger .collapsed .variables,
#debugger .collapsed > div {
	display: none;
}

#debugger #debugger-repcount-stack-container > div {
	display: flex;
	width: 100%;
}

#debugger #debugger-repcount-stack-container > div:nth-child(odd) {
	background-color: #ddf;
}

#debugger #debugger-repcount-stack-container > div > div:first-child,
#debugger .variables .variable .name {
	padding-left: 2px;
}

#debugger #debugger-repcount-stack-container > div > div {
	width: 50%;
}

#debugger .headings {
	font-weight: bold;
}

#debugger footer {
	display: flex;
	justify-content: space-between;
}

#debugger footer button {
	font-size: 0.7em;
}

#debugger #debugger-call-stack-container .index {
	display: inline-block;
	min-width: 25px;
}

#debugger .collapsed #debugger-call-stack-container-no-procedures {
	display: none;
}