#intermediate-code-explorer {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

#intermediate-code-procedure-selector.active {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#intermediate-code-procedure-selector.active #intermediate-code-search-results {
	overflow: auto;
}

#intermediate-code-search-results > div {
	cursor: pointer;
	display: flex;
	width: 100%;
	border-bottom: 1px solid transparent;
}

#intermediate-code-search-results > div:hover {
	border-bottom-color: #ddd;
}

#intermediate-code-search-results > div > div.name {
	min-width: 150px;
	font-weight: bold;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#intermediate-code-explorer .search-bar input {
	box-sizing: border-box;
	width: 100%;
}

#intermediate-code-instructions {
	overflow-y: auto;
	background-color: #ddd;
	transition: background-color 0.1s, margin-top 0.1s;
}

#intermediate-code-instructions.active {
	background-color: #fff;
}

#intermediate-code-instructions > div {
	display: flex;
	border-bottom: 1px solid transparent;
	width: 100%;
}

#intermediate-code-instructions.active > div:nth-child(even) {
	background-color: #eef;
}

#intermediate-code-instructions.active > div:hover {
	border-bottom-color: #ccc;
}

#intermediate-code-instructions .properties, #intermediate-code-search-results .parameters {
	display: flex;
	flex-grow: 1;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	justify-content: space-between;
}

#intermediate-code-instructions .key {
	font-size: 0.7em;
}

#intermediate-code-instructions .name {
	font-weight: bold;
	white-space: nowrap;
	width: 160px;
}

#intermediate-code-instructions .index {
	min-width: 25px;
	font-size: 0.9em;
}