#parse-tree-explorer {
	overflow-y: auto;
	overflow-x: hidden;
}

#parse-tree-explorer .notch1 {
    height: 0.45em;
    width: 5px;
}

#parse-tree-explorer .notch2 {
    height: 0.55em;
	width: 7px;
	margin-right: 2px;
}

#parse-tree-explorer .notch1,
#parse-tree-explorer .notch2 {
	display: inline-block;
    border-bottom: 1px solid #000;
}

#parse-tree-explorer .fa {
	padding-right: 3px;
}

#parse-tree-explorer .type {
	font-size: 0.8em;
	padding-left: 5px;
	padding-right: 5px;
}

#parse-tree-explorer .val {
	font-weight: bold;
	flex-grow: 1;
}

#parse-tree-explorer .child-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	margin-left: 10px;
	border-left: 1px solid #000;
}

#parse-tree-explorer .collapsed .child-list {
	display: none;
}

#parse-tree-explorer .parse-tree-token-heading {
	display: flex;
	width: 100%;
	border-top: 1px dotted #eee;
	border-bottom: 1px dotted #eee;
}

#parse-tree-explorer .parse-tree-token-heading:hover {
	background-color: #ddf;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #888;
	border-bottom-color: #888;
}