#status, #debugger {
	z-index: 2;
	background-color: #fff;
	padding: 3px;
	width: 185px;
	display: flex;
	flex-direction: column;
}

#status h2, #debugger h2 {
	font-size: 17px;
}

.scrollable-content {
	overflow-y: auto;
}

#status .scrollable-content, #debugger .scrollable-content {
	flex-grow: 1;
}

#status {
	position: fixed;
	top: 0;
	right: 0;
}

#status h2 {
	margin-top: 6px;
	margin-bottom: 2px;
}

#status label {
	font-size: 0.9em;
}

#status .scrollable-content > div > div {
	display: flex;
	width: 100%;
}

#status .scrollable-content > div > div > label {
	flex-grow: 1;
}

#status .status-colors > div {
	padding-bottom: 3px;
}

#status .sample-colour-hex,
#status .sample-colour-name {
	min-width: 77px; /* Make them line up with each other better. */
	text-align: center;
}