<div id="color-selector-dialog-color-input">
	<input id="color-selector-dialog-color" type="color" value="$$$Color-Value$$$" autofocus>
	<div id="color-selector-dialog-transparent-overlay"></div>
</div>
<label class="hidden" id="color-selector-dialog-transparent-label"><input type="checkbox" id="color-selector-dialog-transparent">Transparent</label>
<label for="color-selector-alpha" id="color-selector-alpha-container"
	class="hidden">Alpha/Opacity
	<div class="range-display">
		<input id="color-selector-alpha" 
		type="range" min="0" max="255">
		<div class="opacity-display"></div>
	</div>
</label>