<div class="dialog-body">
	<header class="window-title-bar">
		<span id="dialog-title"></span>
		<div>
			<span id="dialog-group-icon"></span>
			<span class="fa fa-question-circle" id="dialog-help" title="Get help on this feature"></span>
			<span class="fa fa-window-maximize" id="dialog-maximize" title="Maximize size of this feature"></span>
			<span class="fa fa-window-restore" id="dialog-restore" title="Restore this feature to default size"></span>
			<span class="fa fa-window-close" id="dialog-close" title="Close this feature"></span>
		</div>
	</header>
	$$$DIALOG-CONTENT-HTML$$$
</div>
<footer class="dialog-footer">
	<button id="dialog-footer-ok">OK</button>
	<button id="dialog-footer-cancel">Cancel</button>
</footer>
