/* bold the names and headings in Help -> Index -> Color Blend Modes. */
#help-colour-blend-modes-spreadsheet > div:first-child div,
#help-colour-blend-modes-spreadsheet > div > div:first-child {
	font-weight: bold;
}

#help-colour-blend-modes-spreadsheet > div {
	display: flex;
	width: 100%;
}

#help-colour-blend-modes-spreadsheet > div > div {
	flex-grow: 1;
}

/* Set width of the names column. */
#help-colour-blend-modes-spreadsheet > div > div:first-child {
	width: 100px;
	flex-grow: 0;
	flex-shrink: 0;
}

