.command-details, .operator-details,
.help-operators .dialog-body,
.help-datatypes .dialog-body,
.help-keywords .dialog-body,
.help-colours .dialog-body,
.index-search .dialog-body {
	display: flex;
	flex-direction: column;
}

.command-details .command-details-body,
.help-glossary .glossary-body,
.operator-details, .operator-details .operator-details-body,
.help-operators .help-operators-body,
.help-datatypes .help-datatypes-body,
.help-keywords .help-keywords-body,
.help-colours .help-colours-body {
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: auto;
}

.command-details .dialog-body,
.operator-details .dialog-body {
	display: flex;
	flex-direction: column;
}

.command-details ul, .command-details ol,
.operator-details ul, .operator-details ol {
	margin-top: 0;
	margin-bottom: 0;
}

.command-details h4, .operator-details h4 {
	margin-top: 4px;
	margin-bottom: 3px;
}

#command-details-examples-container {
	display: none;
}

.command-details code {
	display: block;
	margin-bottom: 2px;
}

#command-inputs .name, #operator-inputs .name {
	font-weight: bold;
}

.restricted-invoke-commands {
	display: flex;
	width: 100%;
}

.restricted-invoke-commands ul {
	list-style-type: none;
	padding: 0 5px;
	margin-left: 0;
	flex-grow: 1;
}

.command-details #command-inputs-extra {
	display: none;
}

.command-details #command-example-usage-count-spinner {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../../images/logo-transparent.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	animation: rotating-function 1.25s linear infinite;
	opacity: 0;
	transition: opacity 1s;
}

.command-details #command-example-usage-count-spinner.loading {
	opacity: 1;
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}