.data-type-help-topic h3 {
	margin-top: 4px;
}

.help-datatypes .help-datatypes-body {
	overflow-x: hidden;
}

.help-colours .spreadsheet {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
}

.help-colours .spreadsheet > div {
	display: flex;
}

.help-colours .spreadsheet > div > div {
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.help-colours .spreadsheet > div .name {
	flex-grow: 1;
	font-weight: bold;
}

.help-colours .spreadsheet > div .colour-index {
	width: 30px;
}

.help-colours .spreadsheet > div .sample-colour {
	width: 40px;
}

.help-datatypes #data-type-index {
	display: flex;
	width: 100%;
}

.help-datatypes #data-type-index > div {
	flex-grow: 1;
}

.help-datatypes #data-type-index ul {
	margin: 0;
	padding-left: 18px;
}

.help-datatypes h3 {
	margin-bottom: 5px;
}

.dialog-body > .data-type-help-topic,
.dialog-body > .data-type-expressions {
	overflow-y: auto;
}

.dialog.maximized .alphacolor-list {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
}

.alphacolor-list {
	margin: 0;
	padding-left: 20px;
}

.data-type-expressions ul {
	margin-top: 0;
	margin-bottom: 0;
}

.data-type-expressions .example-value,
.data-type-expressions .example-types,
.see-also span {
	display: inline-block;
	border: solid 1px #bbb;
	padding: 2px 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	border-radius: 5px;
}

#data-type-examples > div {
	margin-bottom: 5px;
}

#data-type-examples h3 {
	margin-bottom: 3px;
	padding: 5px 10px;
	color: #fff;
	background-color: #000;
}

#data-type-examples h4 {
	margin-top: 5px;
	margin-bottom: 3px;
}
