.help-datatypes .help-datatypes-body {
	overflow-x: hidden;
}

.help-colours .spreadsheet {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
}

.help-colours .spreadsheet > div {
	display: flex;
}

.help-colours .spreadsheet > div > div {
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.help-colours .spreadsheet > div .name {
	flex-grow: 1;
	font-weight: bold;
}

.help-colours .spreadsheet > div .colour-index {
	width: 30px;
}

.help-colours .spreadsheet > div .sample-colour {
	width: 40px;
}

.help-datatypes #data-type-index {
	display: flex;
	width: 100%;
}

.help-datatypes #data-type-index > div {
	flex-grow: 1;
}

.help-datatypes #data-type-index ul {
	margin: 0;
	padding-left: 18px;
}

.help-datatypes h3 {
	margin-bottom: 5px;
}

.dialog-body > .data-type-help-topic {
	overflow-y: auto;
}

.dialog.maximized .alphacolor-list {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
}

.alphacolor-list {
	margin: 0;
	padding-left: 20px;
}