.general-help-content .dialog-body > div {
	overflow-y: auto;
}

[data-helpid] {
	border-bottom: 1px dotted transparent;
	cursor: help;
}

[data-helpid]:hover {
	border-bottom-color: #ccc;
}

.general-help-content .dialog-body h3,
.general-help-content .dialog-body h4 {
	margin-bottom: 5px;
}

.general-help-content .dialog-body h4 {
	margin-top: 5px;
}

.general-help-content .dialog-body ul {
	margin-top: 0;
}