.index-search-input-container {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
}

.index-search-input-container > div {
	padding-left: 3px;
}

.index-search-input-container input {
	flex-grow: 1;
}

#index-search-results {
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: auto;
}

.index-search .dialog-body,
.help-operators .dialog-body {
	display: flex;
	flex-direction: column;
}

.index-search-result {
	width: 100%;
	display: flex;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.index-search-result .primary-name {
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 6px;
	width: 45%;
}

.index-search-result .primary-name.expanded {
	width: initial;
}

.index-search-result .result-type-icon {
	width: 25px;
	padding-top: 3px;
	text-align: center;
}

.index-search-result .result-type-icon.command-icon,
.dialog-icon.command-icon {
	background-image: url('../../images/icons/command.svg');
}

.index-search-result .result-type-icon.weblogo-icon,
.dialog-icon.weblogo-icon {
	background-image: url('../../images/logo-transparent.svg');
}

.glossary-icon {
	background-image: url('../../images/icons/glossary-icon.svg');
}

.operators-icon {
	background-image: url('../../images/icons/operators.svg');
}

.datatypes-icon {
	background-image: url('../../images/icons/datatypes.svg');
}

.index-search-result .result-type-icon.breakpoint-icon,
.index-search-result .result-type-icon.command-icon,
.index-search-result .result-type-icon.datatypes-icon,
.index-search-result .result-type-icon.glossary-icon,
.index-search-result .result-type-icon.operators-icon,
.index-search-result .result-type-icon.weblogo-icon {
	background-repeat: no-repeat;
	background-size: auto 85%;
	background-position: center center;
}

.index-search-result .result-type-icon.breakpoint-icon,
.dialog-icon.breakpoint-icon {
	background-image: url('../../images/icons/breakpoint.svg');
}

.help-operators .dialog-body {
	display: flex;
	flex-direction: column;
}

#help-index span {
	margin-top: 2px;
}

#help-index span,
.dialog-icon.help-index {
	background-image: url('../../images/icons/help-index.svg');
}

.dialog-icon.help-index {
	display: inline-block;
}

.dialog-body .window-title-bar > div .dialog-icon.help-index,
.dialog-body .window-title-bar > div .dialog-icon.asset-index {
	opacity: 0.5; /* to be consistent with window state icons that go gray when not hovered over */
	padding: 0;
}

.dialog-body .window-title-bar > div .dialog-icon.help-index:hover,
.dialog-body .window-title-bar > div .dialog-icon.asset-index:hover {
	opacity: 1;
}