.border-spread-pad,
.border-spread-reflect,
.border-spread-repeat {
	border-bottom: 15px solid;
}

.border-spread-pad {
	 border-image: linear-gradient(90deg, #080 0px, #eee 40px) 1;
}

.border-spread-reflect {
	 border-image: repeating-linear-gradient(90deg, #080 0px, #eee 40px, #080 80px) 1;
}

.border-spread-repeat {
	 border-image: repeating-linear-gradient(90deg, #080 0px, #eee 40px) 1;
}