.tutorial-index-row {
	display: flex;
	width: 100%;
	overflow: hidden;
}

.tutorial-index-row > div:first-child {
	padding: 3px;
	min-width: 125px;
}

.tutorial-index-row > div:first-child h3 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.maximized .tutorial-index-row > div:first-child h3 {
	margin-top: 10px;
	margin-bottom: 19px;
}

.maximized .tutorial-index-row > div:first-child ul li {
	padding-bottom: 8px;
}

.tutorial-index-row > div:first-child ul li {
	padding-bottom: 4px;
	font-size: 0.9em;
}

.tutorial-index-row > div:first-child ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 2px;
	margin-bottom: 5px;
}

.tutorial-index-row > div:last-child {
	flex-grow: 1;
	overflow-y: auto;
}

#tutorial-page-content {
	overflow-x: hidden;
	overflow-y: auto;
}

.tutorial-page {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}

.tutorial-page header {
	display: flex;
	width: 100%;
}

.tutorial-page header .tutorial-page-index {
	flex-grow: 1;
	padding-left: 5px;
	line-height: 22px;
}

.tutorial-next {
	margin-left: 3px;
}

#tutorial-page-content img {
	max-width: 100%;
}

#tutorial-page-content code,
.command-details code,
.differences-from-fms-logo code {
	padding: 3px 5px;
	border: 1px solid #000;
}

#tutorial-page-content code {
	margin-bottom: 2px;
	margin-top: 2px;
	display: inline-block;
}

#tutorial-page-content code.pastable,
code.pastable,
#tutorial-page-content code.wide,
code.wide,
.differences-from-fms-logo code,
code.clipboard-pastable {
	display: block;
	position: relative;
}

#tutorial-page-content code.commander-pastable {
	padding-right: 19px;
}

code.commander-pastable {
	padding-right: 20px;
	display: inline-block;
	position: relative;
	min-height: 17px;
}

.paste-button {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.centred-content {
	background-color: #ddd;
	padding: 5px;
	text-align: center;
}