#parse-message-container > div {
	display: flex;
}

#parse-message-container > div:not(:last-child) {
	margin-bottom: 7px;
}

#parse-message-container > div > span {
	padding: 5px;
	display: flex;
	align-items: center; /* vertically center the icon */
}

#parse-message-container > div > .text {
	flex-grow: 1;
	padding-left: 5px;
}