.suggestions {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: #fff;
	border: 1px solid #ddd;
}

.suggestions > div {
	cursor: pointer;
}

.suggestions > div .untyped {
	color: #333;
}

.suggestions > div .typed {
	color: #080;
}