.suggestions {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: #fff;
	border: 1px solid #000;
}

.suggestions > div {
	cursor: pointer;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom: 1px solid transparent;
}

.suggestions > div:hover {
	border-bottom-color: #888;
}

.suggestions > div:hover .untyped {
	color: #000;
}

.suggestions > div .untyped {
	color: #555;
}

.suggestions > div:hover .typed {
	color: #040;
}

.suggestions > div .typed {
	font-weight: bold;
	color: #080;
}