#upload-asset {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#upload-asset #upload-asset-viewer {
	flex-grow: 1;
	display: flex;
	overflow: hidden;
}

#upload-asset > input {
	flex-shrink: 0;
}