#view-asset,
#rename-asset {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-grow: 1;
}

#view-asset #asset-display,
#rename-asset #asset-display {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

#view-asset .text-asset-view {
	overflow: auto;
}

#view-asset .video-asset-view {
	display: flex;
	width: 100%;
}

#view-asset .audio-asset-view {
	width: 100%;
}

.audio-asset-view audio {
	width: 100%;
}

#upload-asset .image-asset-view img {
	min-height: 50px;
}

#asset-display .image-asset-view img {
	min-height: 50px;
}