@import "help.css";
@import "menu.css";

html, body, canvas {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100vh;
	background-color: red;
	user-select: none;
}

button {
	cursor: pointer;
}

#coordinates {
	bottom: 0;
	right: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#coordinates.padded {
	padding: 5px;
}