.parse-tree-and-data-types {
	display: flex;
	width: 100%;
}

#parse-tree-explorer {
	flex-grow: 1;
	max-height: 50vh;
	overflow-y: auto;
}

.data-types {
	padding: 0 4px;
	width: 150px;
}

.data-types h5 {
	margin: 0;
	padding: 0;
}

#data-types {
	overflow-wrap: break-word;
}