html, body {
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 3px;
	margin-bottom: 5px;
}

h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.container > div:first-child {
	flex-grow: 0;
}

.container > div:last-child {
	flex-grow: 1;
}

.split-view {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.split-view > div > textarea {
	width: 100%;
	height: 100%;
}

.split-view > div {
	width: 50%;
}

.unlikely > div,
.likely > div {
	padding-bottom: 4px;
	border-bottom: 1px solid black;
}

output .likely .name {
	font-weight: bold;
}

output .unlikely {
	margin-top: 4px;
	background-color: #eee;
}

output .name {
	padding-left: 5px;
}

.results-report {
	padding-left: 5px;
}

.warning {
	background-color: #fdd;
}