.general-help-content .dialog-body > div {
	overflow-y: auto;
}

[data-helpid] {
	border-bottom: 1px dotted transparent;
	cursor: help;
}

[data-helpid]:hover {
	border-bottom-color: #ccc;
}

.general-help-content .dialog-body h3,
.general-help-content .dialog-body h4 {
	margin-bottom: 5px;
}

.general-help-content .dialog-body h4 {
	margin-top: 5px;
}

.general-help-content .dialog-body ul {
	margin-top: 0;
}

#point-cloud-exporter-file-formats > div {
	padding-bottom: 3px;
	border-bottom: 5px solid #ddf;
}

#point-cloud-exporter-file-formats > div .header {
	font-weight: bold;
	display: flex;
}

#point-cloud-exporter-file-formats > div .name {
	flex-grow: 1;
}

#point-cloud-exporter-file-formats .point-cloud-format-footer {
	display: flex;
}

#point-cloud-exporter-file-formats .point-cloud-format-footer .software {
	flex-grow: 1;
}

#point-cloud-exporter-file-formats .point-cloud-format-footer .indicates-colour {
	flex-grow: 0;
}

#point-cloud-exporter-file-formats .indicates-colour {
	padding-bottom: 20px;
	text-align: right;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: bottom right;
	background-image: url('../../images/icons/colour-dot.svg');
	align-self: flex-end;
}

#point-cloud-exporter-file-formats .indicates-colour.no-color {
	background-image: url('../../images/icons/black-dot.svg');
}
