.help-operators .title {
	font-weight: bold;
	text-align: center;
}

.help-operators nav.menu ul > li {
	padding-right: 7px;
}

.help-operators .help-operators-body {
	overflow-x: hidden;
}

.help-operators h2 {
	margin-bottom: 5px;
}

.help-operators p {
	margin: 8px 0;
}

.help-operators ol {
	margin: 0;
	padding-left: 20px;
}

.help-operators .spreadsheet {
	border: 1px solid #ddd;
}

.help-operators .spreadsheet > div {
	display: flex;
	padding: 2px;
	width: 100%;
	border: 1px solid #eee;
}

.help-operators div.symbol {
	width: 30px;
}

.help-operators div div.name {
	width: 190px;
	text-align: left;
}