#tip-content p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#tip-content ul {
	margin-top: 8px;
	margin-bottom: 8px;
}

.dialog-icon {
	display: inline-block;
	font-size: 19.2px;
	line-height: 23px;
	padding-right: 6px;
	min-height: 16px;
	min-width: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}