nav.menu .resolution > ul {
	min-width: 190px;
}

nav.menu .timing > ul {
	min-width: 220px;
}

#animation-download-predownload-stage {
	font-size: 0.9em;
}

#animation-download-progress-report {
	display: none;
	text-align: center;
}

#animation-download-success-ffmpeg-command {
	border: 1px solid #000;
}