nav.menu .resolution > ul {
	min-width: 190px;
}

nav.menu .timing > ul {
	min-width: 220px;
}

#animation-download-end-frame-index.warning {
	color: #800;
	background-color: #ff8;
	border-color: #800;
}

#animation-download-progress-report #snapshot-container {
	margin-top: 15px;
	font-size: 0.9em;
}

#animation-download-mode {
	min-width: 150px;
}

#animation-download-predownload-stage {
	font-size: 0.9em;
}

#animation-download-progress-report {
	display: none;
	text-align: center;
}

#animation-download-progress-report canvas {
	border: 1px solid #ddd;
}

#animation-download-success-ffmpeg-command {
	border: 1px solid #000;
}

#animation-download-progress-message {
	padding-top: 30px;
	text-align: center;
}

/* Reduce some sizes so several points fit in a restored state dialog */
#animation-download-predownload-stage-for-animated-gif-mode > p {
	margin-bottom: 4px;
}

#animation-download-gif-tips ul {
	padding-left: 16px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.85em;
}

/* Expand to normal sizes when the dialog is maximized */
.dialog.maximized #animation-download-predownload-stage-for-animated-gif-mode > p {
	margin-bottom: 20px;
}

.dialog.maximized #animation-download-gif-tips ul {
	padding-left: 40px;
	font-size: 1em;
}

.dialog.maximized #animation-download-gif-tips ul li {
	padding-bottom: 5px;
}