.drawing-download {
	margin-top: 5px;
}

label[for="drawing-export-width"] input,
label[for="drawing-export-height"] input {
	float: right;
}

.drawing-previewer-resolution-menu {
	min-width: 170px;
}

.drawing-previewer-resolution-height {
	margin-top: 2px;
}