#export-type-selector-options {
	width: 100%;
}

#export-type-selector-options > div {
	display: flex;
	padding-bottom: 3px;
}

#export-type-selector-options button {
	flex-grow: 1;
	font-weight: bold;
}

#export-type-selector-options button:last-child {
	margin-right: 0;
}

#export-type-selector-options button {
	margin-right: 7px;
}

#export-type-selector-options button span {
	display: block;
	font-size: 3.5em;
	text-align: center;
}

#export-type-selector-options button span.custom-icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 47px;
}

#export-type-selector-options button span.custom-icon.line-segments-icon {
	background-image: url('../../../images/icons/line-segments-icon.svg');
}

#export-type-selector-options button span.custom-icon.pdf-icon {
	background-image: url('../../../images/icons/pdf-icon.svg');
}

#export-type-selector-options button span.custom-icon.point-cloud-icon {
	background-image: url('../../../images/icons/point-cloud-icon.svg');
}

#export-type-selector-options button span.custom-icon.post-script-icon {
	background-image: url('../../../images/icons/post-script-icon.svg');
}