#pdf-download {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: hidden;
}

#pdf-drawing-container {
	overflow-y: hidden;
	flex-grow: 1;
}

#pdf-download-page-size {
	min-width: 220px;
}