#drawing-point-cloud {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}

#drawing-point-cloud-preview-container {
	flex-grow: 1;
	overflow: hidden;
}

#drawing-point-cloud-preview-container canvas {
	width: 100%;
	height: 100%;
}

#drawing-point-cloud .menu .file ul {
	min-width: 370px;
}

#drawing-point-cloud .menu .point-cloud-preview-mode ul,
#line-segments .menu .line-segments-preview-mode ul {
	min-width: 100px;
}