#drawing-previewer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#drawing-previewer header {
	box-sizing: border-box;
	display: flex;
	width: 100%;
}

#drawing-previewer header input {
	flex-grow: 1;
	width: 50px; /* Just so it doesn't get too big.  The flex-grow: 1 will let the inputs get as wide as the space will allow. */
}

#drawing-previewer header button, #drawing-previewer header input {
	margin: 0 2px;
}

#drawing-previewer #drawing-previewer-preview-container {
	flex-grow: 1;
	padding: 2px;
	position: relative;
}

#drawing-previewer #drawing-previewer-resizable-container {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	border: 1px solid #000;
}

#drawing-previewer-resolution-dropdown {
	padding: 3px;
	cursor: pointer;
}

#drawing-previewer header {
	position: relative;
}

.showing-list {
	background-color: #ddf;
}

.resolution-dropdown-resolutions {
	position: absolute;
	z-index: 1;
	top: 23px;
	left: 3px;
	background-color: white;
	box-shadow: 0 0 5px #000;
}

.resolution-dropdown-resolutions > div {
	padding: 2px 4px;
}

.resolution-dropdown-resolutions > div:hover {
	background-color: #ddf;
	cursor: pointer;
}

.resolution-dropdown-resolutions > div .name {
	font-weight: bold;
}