form {
	display: flex;
	width: 70%;
	margin: 0 auto;
	justify-content: space-between;
}

.labelled-input {
	width: 115px;
}

.labelled-input label {
	display: block;
	font-weight: bold;
}

.labelled-input input {
	font-size: 1.3em;
	width: 70%;
	box-sizing: border-box;
}