.pair {
	display: flex;
}

.pair > div:first-child {
	width: 20px;
}

.pair > div:last-child {
	width: 100%;
}

output {
	margin-top: 2px;
	display: block;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
}