#post-script {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#post-script header {
	flex-grow: 0;
}

#post-script #post-script-drawing-container {
	flex-grow: 1;
	overflow: hidden;
}