#string-art-kit {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#string-art-kit header {
	flex-grow: 0;
}

#string-art-kit #svg-drawing-container {
	flex-grow: 1;
	overflow: hidden;
}