html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: arial;
}

.content {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.content header {
	flex-grow: 0;
	display: flex;
	justify-content: space-between;
	padding: 3px;
}

.content header button, .content header input[type="checkbox"] {
	cursor: pointer;
}

.content canvas {
	width: 100%;
	flex-grow: 1;
	background-color: #aaa;
}


#dialog-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.5;
	background-color: #000;
}

#dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	padding: 8px;
	font-family: arial;
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	border: 1px solid #888;
	box-shadow: 0 0 25px #000;
}

#dialog a {
	color: #000;
}

#dialog h1 {
	font-size: 22px;
	margin-top: 0;
}

#dialog div.body {
	flex-grow: 1;
}

#dialog footer {
	flex-grow: 0;
	text-align: center;
}

#dialog button {
	font-weight: bold;
	cursor: pointer; /* encourage people to click it. */
}