/*
The responsibility of style-narrow.css is to make content look better for narrow viewport widths
or when content is given less width such as when the code editor is overlapping half the main content.
*/
@media screen and (max-width: 800px) {
	body.half-width #command-input, body.debug-status-stacked #command-input {
		font-size: 2.8vmin;
	}

	body.debug-status-stacked #menu-bar > ul > li {
		font-size: 2.2vmin;
	}

	body.half-width #menu-bar > ul > li {
		font-size: 2vmin;
	}

	body.debug-status-stacked #menu-bar li > ul {
		top: 2.2vmin;
	}

	body.half-width #menu-bar li > ul {
		top: 2vmin;
	}
}

@media screen and (max-width: 900px) {
	body.debug-status-stacked #menu-bar > ul > li {
		padding-right: 12px;
	}

	body.half-width #menu-bar > ul > li {
		padding-right: 8px;
	}
}

@media screen and (max-width: 550px) {
	body #menu-bar > ul > li {
		padding-right: 8px;
	}

	body #command-input {
		font-size: 4.5vmin;
	}	
}

@media screen and (max-width: 450px) {
	body:not(.half-width, .debug-status-stacked) #menu-bar > ul > li {
		font-size: 3.7vmin;
	}

	body:not(.half-width, .debug-status-stacked) #menu-bar li > ul {
		top: 3.7vmin;
	}

	body:not(.half-width, .debug-status-stacked)  #command-input {
		font-size: 4.2vmin;
	}
}