.prefixed-container {
	display: inline;
}

.in-out-value-span {
	display: inline-block;
}

.in-out-value-span,
.test-in-out-pairs-details,
.test-in-out-pairs-out,
.test-in-out-pairs-but-got {
	border: 1px solid #ddd;
	padding: 3px;
	border-radius: 2px;
}

.unequal-string {
	background-color: #ff0;
}

.progress-viewer {
	border: 1px solid #ddd;
	padding: 3px;
	margin-bottom: 5px;
	transition: background-color 3s;
}

.progress-viewer.completed {
	background-color: #8f0;
}

.progress-viewer .top-row {
	width: 100%;
	display: flex;
}

.progress-viewer .top-row .progress-container {
	flex-grow: 1;
	display: flex;
}

.progress-viewer .top-row .progress-container span {
	font-weight: bold;
	width: 60px;
	flex-grow: 0;
}

.progress-viewer .top-row .progress-container progress {
	flex-grow: 1;
}

.progress-indicator-name {
	font-weight: bold;
	width: 200px;
	flex-grow: 0;
}

.progress-viewer .message-element {
	font-weight: bold;
	color: #005;
}