html, body {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#inputs {
    flex-grow: 0;
    border-bottom: 1px solid #666;
}

#inputs textarea {
    display: block;
    width: 100%;
    min-height: 5px;
    border-left-width: 0;
    border-right-width: 0;
    resize: vertical;
}

#inputs footer {
    display: flex;
}

#inputs footer .wide {
    flex-grow: 1;
}

#inputs button {
    flex-grow: 0;
}

canvas {
    width: 100%;
    flex-grow: 1;
    background-color: red;
}

canvas.maximized {
    height: 100%;
}

#error-message, #colour-map-error-message {
    font-weight: bold;
    color: #600;
}

.dialog label {
    font-weight: bold;
}

#example-selector, #colour-map-selector, #download-dialog {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
	z-index: 100;
}

#example-selector.open, #colour-map-selector.open, #download-dialog.open {
    display: block;
}

#example-selector .dialog,
#colour-map-selector .dialog,
#download-dialog .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px #000;
}

#example-selector .dialog {
    width: 250px;
    height: 100px;
    margin-left: -125px;
    margin-top: -50px;
}

#colour-map-selector .dialog {
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-top: -150px;
}

#download-dialog .dialog {
	width: 200px;
	height: 150px;
	margin-left: -100px;
	margin-top: -75px;
}

#colour-map-selector p {
	margin-top: 0;
	margin-bottom: 5px;
}

#colour-map-selector .dialog textarea {
	height: 200px;
	resize: none;
}

#example-selector .dialog footer,
#colour-map-selector .dialog footer,
#download-dialog .dialog footer {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10px;
}

#example-selector .dialog footer {
    width: 250px;
}

#download-dialog .dialog footer, #download-dialog progress, #download-dialog select {
    width: 200px;
}

#download-dialog input {
    width: 192px;
}

#download-dialog .dialog footer .download-text {
	padding-left: 3px;
}

#colour-map-selector .dialog footer, #colour-map-selector .dialog textarea {
	width: 300px;
}

#colour-map-selector {
	display: none;
	position: fixed;
}

button {
    cursor: pointer;
}

#example-selector .dialog select {
    width: 100%;
}
