#menu-bar ul, #code-editor ul, .menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
	z-index: 3; /* overlap status and debugger windows */
}

.menu a {
	text-decoration: none;
	color: #000;
}

#menu-bar input[type="checkbox"],
.menu input[type="checkbox"] {
	margin-left: 0;
}

#menu-bar > ul, nav.menu > ul {
	display: flex;

	/* Users might drag the cursor slightly while trying to click menu items.
	We don't want to show selections when that happens.
	*/
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#menu-bar > ul > li {
	padding-right: 30px;
}

#menu-bar > ul > li, nav.menu > ul > li {
	position: relative;
}

nav.menu > ul > li {
	padding-right: 15px;
}

#menu-bar li, .menu li {
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
	cursor: pointer;
}

#menu-bar li:hover, .menu li:hover,
#menu-bar li:focus, .menu li:focus {
	background-color: #ddf;
}

#menu-bar li[disabled], .menu li[disabled] {
	color: #888;
	cursor: not-allowed;
}

#menu-bar li > ul, .menu li > ul {
	display: none;
	position: absolute;
	top: 18px;
	left: 0;
	box-shadow: 0 0 5px #000;
}

#menu-bar li:hover > ul, nav.menu li:hover > ul,
#menu-bar li:focus > ul, nav.menu li:focus > ul {
	display: block;
}

#menu-bar li > ul > li, nav.menu li > ul > li {
	display: block;
	padding: 2px 7px;
	white-space: nowrap;
}

.sample-colour, .sample-colour-hex {
	border: 1px solid #ccc;
}

.sample-colour-hex,
#status .sample-colour-name {
	padding: 2px 5px;
}

#menu-bar li .sample-colour {
	display: inline-block;
	margin-right: 3px;
	font-size: 11px;
	text-align: center;
	padding-top: 2px;
	width: 12px;
	height: 12px;
}

nav#menu-bar ul > li > ul > li.select-container,
nav.menu ul > li > ul > li.select-container {
	padding-bottom: 5px; 
	/* a little extra space to prevent the options from becoming unclickable */
}

nav#menu-bar ul > li > ul > li select,
nav.menu ul > li > ul > li select,
nav.menu ul > li > ul > li input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

#menu-bar span.menu-item-logo {
	display: inline-block;
	width: 17px;
	background-position: -2px 50%;

	background-image: url('../images/logo-32px.png');
	background-image: url('../images/logo-transparent.svg'),
    linear-gradient(transparent, transparent);
}

#menu-bar #set-animation-time .fa {
	font-size: 0.9em;
    padding-right: 3px;
}

.weblogo-menu-icon,
#menu-bar span.menu-item-logo.weblogo-menu-icon {
	display: inline-block;
	width: 20px;
	height: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}