html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}

body.half-width #container {
	width: 50%;
}

a {
	color: #000;
}

button {
	cursor: pointer;
}

#container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

.animation-time,
#menu-bar,
#command-box h2 {
	user-select: none;
}

/* used by various help content */
.spreadsheet > div:nth-child(even) {
	background-color: #ddf;
}

.spreadsheet.clickables > div {
	border-bottom: 1px solid transparent;
}

.spreadsheet.clickables > div:hover {
	border-color: #bbb;
}

.hyperlinked {
	cursor: pointer;
	display: inline-block;
	line-height: 0.9;
	border-bottom: 1px dotted #000;
}

.see-also span.hyperlinked {
	border-bottom: 1px dotted #000;
}

.hyperlinked:hover {
	color: #444;
}

.clickable {
	cursor: pointer;
}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.commander-title-bar button {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 3px;
	border-width: 1px;
}