@import url("style-narrow.css");
@import url("menu.css");
@import url("menu-narrow.css");
@import url("file/assets/create-new.css");
@import url("file/assets/index.css");
@import url("file/assets/rename.css");
@import url("file/assets/view-existing.css");
@import url("file/edit.css");
@import url("file/load-example.css");
@import url("components/code-editor.css");
@import url("components/code-editor/logo-textarea.css");
@import url("components/code-editor/parse-message-viewer.css");
@import url("components/code-editor/quality-report.css");
@import url("components/code-editor/set-up-animation.css");
@import url("components/color-selector-dialog.css");
@import url("components/command-box-messages.css");
@import url("components/commander.css");
@import url("components/commander-buttons.css");
@import url("components/dialog.css");
@import url("components/graphics-screen.css");
@import url("components/menu-dialog.css");
@import url("components/svg-drawing-viewer.css");
@import url("components/syntax-highlighter.css");
@import url("components/toast-messages.css");
@import url("debugging/debugger.css");
@import url("debugging/intermediate-code-explorer.css");
@import url("debugging/parse-tree-explorer.css");
@import url("debugging/status.css");
@import url("drawingMenu/download/animation-download.css");
@import url("drawingMenu/download/drawing-download.css");
@import url("drawingMenu/download/export-type-selector.css");
@import url("drawingMenu/download/line-segments.css");
@import url("drawingMenu/download/pdf.css");
@import url("drawingMenu/download/point-cloud.css");
@import url("drawingMenu/download/post-script.css");
@import url("drawingMenu/download/string-art-kit.css");
@import url("drawingMenu/download/svg-previewer.css");
@import url("drawingMenu/object-explorer.css");
@import url("drawingMenu/shape-explorer.css");
@import url("help/about.css");
@import url("help/colours.css");
@import url("help/command-details.css");
@import url("help/data-types.css");
@import url("help/general-topic.css");
@import url("help/glossary.css");
@import url("help/operators.css");
@import url("help/operator-details.css");
@import url("help/properties.css");
@import url("help/search-index.css");
@import url("help/spread-methods.css");
@import url("help/tips.css");
@import url("help/tutorial.css");
@import url("set/animation-time.css");
@import url("set/pen-size-dialog.css");

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}

body.half-width #container {
	width: 50%;
}

a {
	color: #000;
}

button {
	cursor: pointer;
}

#container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

.animation-time,
#menu-bar,
#command-box h2 {
	user-select: none;
}

/* used by various help content */
.spreadsheet > div:nth-child(even) {
	background-color: #ddf;
}

.spreadsheet.clickables > div {
	border-bottom: 1px solid transparent;
}

.spreadsheet.clickables > div:hover {
	border-color: #bbb;
}

.hyperlinked {
	cursor: pointer;
	display: inline-block;
	line-height: 0.9;
	border-bottom: 1px dotted #000;
}

.see-also span.hyperlinked {
	border-bottom: 1px dotted #000;
}

.hyperlinked:hover {
	color: #444;
}

.clickable {
	cursor: pointer;
}

*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.commander-title-bar button {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 3px;
	border-width: 1px;
}