/* hide some elements that are in the document only as a way to use some of WebLogo's Dialog without problems */
#graphics-screen,
#code-editor {
	display: none;
}


label {
	font-weight: bold;
	font-size: 1.2em;
}

#error-messages.error {
	border-left: 10px solid red;
}

#error-messages > div {
	display: flex;
	width: 100%;
}

#error-messages .line-number {
	padding-left: 4px;
	padding-right: 4px;
	width: 50px;
	text-align: right;
}

#error-messages > div > .msg {
	flex-grow: 1;
}

#execution-report-container > div {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #ddd;
}

#execution-report-container > div .compile-options-name {
	width: 155px;
	flex-grow: 0;
	font-weight: bold;
}

#execution-report-container > div .messages-length,
#execution-report-container > div .shapes-length {
	flex-grow: 1;
	padding-left: 4px;
	padding-right: 4px;
}

#execution-report-container > div .exception,
#execution-report-container > div .error {
	background-color: red;
}

#compiler-options-container > div {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

#compiler-options-container > div.error {
	background-color: rgba(255, 0, 0, 0.3);
}

#compiler-options-container .name {
	width: 170px;
}

#compiler-options-container .formatted {
	flex-grow: 1;
	font-size: 0.7em;
}

#compiler-options-container .formatted .curly-bracket,
#compiler-options-container .formatted .key,
#compiler-options-container .name,
#compiler-options-container .formatted .value {
	font-weight: bold;
}

#compiler-options-container .formatted .key {
	color: green;
}

#compiler-options-container .formatted .value {
	color: maroon;
}

#compiler-options-container .formatted .key-value-pair {
	padding-left: 10px;
}

.compiler-options-report {
	overflow-x: hidden;
	overflow-y: auto;
}