<div id="code-editor">
	<header>
		<div class="title-bar">
			<div class="code-editor-title">Editor</div>
			<div>
				<span data-helpid="code-editor" class="fa fa-question-circle"></span>
				<span class="fa fa-window-maximize" id="code-editor-maximize" title="Maximize Code Editor to get more space for editing code"></span>
				<span class="fa fa-window-restore" id="code-editor-restore" title="Restore Code Editor to make space for the commander and graphics screen"></span>
				<span class="fa fa-window-close" id="code-editor-close" title="Close Code Editor"></span>
			</div>
		</div>
		<nav class="menu">
			<ul>
				<li>Edit
					<ul>
						<li id="editor-setup-animation">Set up Animation</li>
						<li id="editor-format-code">Format Code</li>
						<li id="editor-harmonize-case">Harmonize Case</li>
						<li id="editor-fix-code">Auto-fix Code</li>
						<li id="editor-edit-copy">Copy</li>
						<li id="editor-edit-paste">Paste</li>
					</ul>
				</li>
				<li id="editor-run-test">Test!</li>
				<li id="editor-run-reset-and-test">Reset&amp;Test!</li>
			</ul>
		</nav>
	</header>
	<div id="editor-code"></div>
</div>