.color-selector-dialog input[type="color"] {
	display: block;
	width: 100%;
	height: 120px;
}

.color-selector-dialog #color-selector-dialog-transparent-overlay {
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center center;
}

.color-selector-dialog .transparent #color-selector-dialog-transparent-overlay {
	background-image: url('../../images/icons/ban.svg');
}

.color-selector-dialog .transparent.dark #color-selector-dialog-transparent-overlay {
	background-image: url('../../images/icons/ban-white.svg');
}

#color-selector-dialog-transparent-label {
	margin-top: 5px;
}

#color-selector-dialog-transparent {
	margin-left: 0;
}

#color-selector-dialog-transparent-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	pointer-events: none;
}

#color-selector-dialog-color-input {
	position: relative;
}