div.column-count-1 {
	display: flex;
	flex-direction: column;
}

div.column-count-1 button {
	display: block;
	margin-bottom: 2px;
}

div.column-count-2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

div.column-count-2 button {
	width: 50%;
}