#menu-dialog {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#menu-dialog-question {
	margin-top: 4px;
	margin-bottom: 6px;
	flex-grow: 1;
}

#menu-dialog-options {
	list-style-type: none;
	margin-top: 4px;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

#menu-dialog-options li {
	margin-bottom: 8px;
	display: block;
}

#menu-dialog-options span {
	font-weight: bold;
	cursor: pointer;
}

#menu-dialog-options span.breakpoint {
	padding-left: 18px;
	background-position: 6px;
}

#menu-dialog-options span.fa {
	padding-right: 4px;
}