div.syntax-highlighter textarea,
div.syntax-highlighter .syntax-highlighter.visualization-container {
	top: 0;
	padding-left: 2px;
	font-family: monospace;
}

div.syntax-highlighter .syntax-highlighter.visualization-container {
	position: absolute;
}

div.syntax-highlighter textarea {
	background-color: transparent;
	color: transparent;
	caret-color: black;
}

.syntax-highlighter {
	tab-size: 4;
	margin: 0;
}

.syntax-highlighter a {
	color: inherit;
}

.syntax-highlighter .keyword {
	font-weight: bold;
}

.syntax-highlighter .boolean-literal,
.simple-display.boolean {
	color: #840;
	font-weight: bold;
}

.syntax-highlighter .number-literal,
.named-number .number,
.general-asset-view .number {
	color: #800;
}

.syntax-highlighter .string-literal {
	color: #500;
}

.syntax-highlighter .color-literal {
	color: #000;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: auto 4px;
	background-position: top;
}

.syntax-highlighter .color-literal.dark {
	color: #fff;
	background-color: #000;
}

.syntax-highlighter .procedure-name {
	color: #500;
	font-weight: bold;
}

.syntax-highlighter .unary-operator {
	font-weight: bold;
	color: #050;
}

.syntax-highlighter .binary-operator {
	font-weight: bold;
	color: #500;
}

.syntax-highlighter .parameterized-group {
	font-weight: bold;
	color: #080;
}

.syntax-highlighter .comment {
	font-style: italic;
	color: #00b;
}

.syntax-highlighter .variable-read {
	color: #007;
}

.syntax-highlighter .procedure-parameter {
	color: #006;
}

.syntax-highlighter .square-bracket,
.syntax-highlighter .curved-bracket {
	font-weight: bold;
}

/* highlighting to help with bracket balancing */
.syntax-highlighter .square-bracket.highlighted,
.syntax-highlighter .curved-bracket.highlighted {
	color: #f00;
	animation-iteration-count: infinite;
	animation-name: highlightAnimation;
	animation-duration: 1s;
}

span.syntax-highlighter.visualization-container {
	white-space: pre;
}

@keyframes highlightAnimation {
  0% {color: red;}
  50% {color: black;}
  100% {color: red;}
}