#toast-message-container {
	position: relative;
	top: -40px;
	height: 0;
	bottom: 0;
}

#toast-message-container > div {
	font-weight: bold;
	opacity: 1;
	transition: opacity 1.0s;
}

#toast-message-container > div.hiding {
	opacity: 0;
}

#toast-message-container .success {
	background-color: #ddf;
}

#toast-message-container .tip,
#command-box-messages .tip,
.line-number.tip,
#parse-message-container > div.tip > span {
	background-color: #ff0;
}

#toast-message-container .warning,
#command-box-messages .warning,
.line-number.warning,
#parse-message-container > div.warning > span {
	background-color: #fc0;
}

#toast-message-container .error,
#command-box-messages .error,
.line-number.error,
#parse-message-container > div.error > span {
	background-color: #f43;
}

.dialog .warning {
	color: #800;
}