There could be a few reasons including:
<ul>
	<li>A <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing" target="_blank">cross-origin resource sharing policy(CORS)</a> prevented JavaScript in WebLogo from directly accessing its raw data</li>
	<li>A temporary network error such as losing Internet service</li>
	<li>URL problem
		<ul>
			<li>domain name isn't registered</li>
			<li>server responds with an error like 404</li>
		</ul>
	</li>
	<li>Something else.  One of the previous causes are generally more frequent, though.</li>
</ul>.
<p>The error message was: 