body {
	font-family: arial;
}

#errors {
	color: #800;
	font-weight: bold;
	font-style: italic;
}

#variable-assignments li {
	height: 30px;
}

#variable-assignments label {
	width: 30px;
	display: inline-block;
}

#formula, #variable-assignments input {
	font-size: 18px;
	width: 320px;
}

a {
	color: #666;
}